<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.0/aframe/build/aframe-ar.js"></script>
<body style='margin : 0px; overflow: hidden;'>
	<a-scene embedded arjs='sourceType: webcam;'>
        <a-assets>
            <!-- id="nom de votre fichier" src="l'adresse url de votre fichier" -->
                <a-asset-item id="stormTrooper" src="scene.gltf"></a-asset-item>
            </a-assets>
            <!-- les valeurs de scale permettent d'ajuster la taille d'affichage du fichier, gltf-model="#nom de votre fichier" -->
            <a-entity scale="20 20 20"  gltf-model="#stormTrooper"></a-entity>
		<a-marker-camera preset='hiro'></a-marker-camera>
	</a-scene>
</body>